.page {
    .side-bar{
        width: 250px;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        padding: 15px;
        background-color: $FlatBlueAlt;
        transition: 0.3s;
    }
}